<!-- <div class="Color Square">

</div>

{{#tether-dialog
  target=".Color"
  container-class="Popup"
  targetAttachment="middle right"
  attachment="top left"}}

  {{#each colors as |color|}}
    <div class="Bar" style="background-color: {{color}};">
    </div>
  {{/each}}

{{/tether-dialog}} -->
