<style>
  #body {
    width: 1000px;
    margin-left: 15%;

  }

  h3:hover {
    color: rgb(145, 255, 247);
  }
</style>

<div id="body">
  <h3>What is this website?</h3>
  <hr>
  Welcome! This website is designed to help students at USC find people to share a carpool ride to split Uber/Lyft/taxi costs with. If two
  location destinations are the same, then a match is found! Please contact the respective person to set up a time and ride.


  <h3>Will this website set up my ride?</h3>
  <hr>
  No, it will not. You will need to directly contact the person you would like to share a ride with.

  <h3>Who is using this website?</h3>
  <hr>
  This website is only open for USC students to find other people to share a ride with.

  <h3>Why should I use this website?</h3>
  <hr>
  To save money! By sharing a ride with people who are going to a similar destination as you, it allows you to split
  the cost of a Uber/Lyft/taxi with someone
  else. For instance, splitting a ride with someone else to LAX would cut your price by half and save the environment!
</div>
