<img
  width="5%"
  height="5%"
  src="https://image.flaticon.com/icons/svg/1272/1272732.svg"
  alt="Carpool"
>
<nav>
  <br>
  {{#link-to "create"}}
    New Event
  {{/link-to}}



  {{#link-to "index"}}
    <br>All Events<br>
  {{/link-to}}



  {{#link-to "map"}}
    Map View <br>
  {{/link-to}}

  {{#link-to "about" }}
    FAQ <br>
  {{/link-to}}
</nav>

{{liquid-outlet}}
